{% extends "base_body.html" %}
{% block content_title %}<a href="/">Home</a> <a class="selected">Articles</a> <a href="/jobs">Jobs</a><span><a href="/resources">Logos and Resources</a></span>{% endblock %}



{% block action_bar %}
		<div class="action-bar">
			<button class="actionbar-button button" onclick="window.location='{% url "create_article" %}'">Create new article</button>
		</div>
{% endblock %}


{% block inner_content %}
				<ul class="articles">
	                {% for article in articles.all %}
					<li>
						{% if article.logo %}
							<img height="20" src="{{ MEDIA_URL }}{{article.logo.file}}"> -
						{% endif %}
						<span>{{ article.title }}</span>
						<div class="article-actions">
							<button class="button btn-action" onclick="window.location='{% url "update_article" article.id %}'">Edit</button>
							<button class="button btn-danger" onclick="cancel_confirmation('{{ article.title }}','{{ article.id }}')">Delete</button>
						</div>
					</li>
					{% endfor %}
				</ul>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	function cancel_confirmation(title,id) {
		if (confirm('This action will delete this article "'+title+'"! Are you sure?')) {
			window.location = window.location.origin +  '/delete/article/'+id;
		} else {
			return false;
		}
	}
</script>
{% endblock %}