{% extends "base_body.html" %}
{% load tweaks %}

{% block content_title %}<a href="/articles">Articles</a> {% if is_update %}<a class="selected">Update</a>{% else %}<a class="selected">New</a>{% endif %}{% endblock %}


{% block inner_content %}
				<form method="post" class="new-article">
				{% csrf_token %}
					<table class="article-data">
						<tbody>
							<tr>
								<th>
								</th>
								<td colspan="2">
									{% if form.instance %}
										{{ form }}
									{% else %}
										{{ form.instance }}
									{% endif %}
							        {{ form.errors }}
								</td>
							</tr>
							<tr>
								<td>
									<input id="add_logo" class="button btn-action" type="button" value="Add new Logo">
								</td>
								<td style="text-align: right">
									<input class="button btn-success" type="submit" value="{% if is_update %}Update{% else %}Create{% endif %}">
									<input class="button" type="button" value="Cancel" onclick="window.location='/articles'">
								</td>
							</tr>
						</tbody>
					</table>
				</form>
				<div id="form_logo">
					<div class="form_wrapper">
						<h3>Add Logo</h3>
						<br>
						<span>Company Name:</span>
						{{ form_logo.name }}
						<br>
						<span>Type:</span>
						{{ form_logo.type }}
						<br>
						<span>File:</span>
						{{ form_logo.file }}
						<br>
						<input id="form_logo_add_btn" class="button btn-success" type="button" value="Add">
						<input id="form_logo_cancel_btn"  class="button" type="button" value="Cancel">
					</div>
				</div>
{% endblock %}

{% block scripts %}
<script data-main="{{ STATIC_PREFIX }}js/main" src="{{ STATIC_PREFIX }}js/libs/require/require.js"></script>
{% endblock %}