{% extends "base.html" %}


{% block header %}
<div class="nav-options">
	<a href="{% url "logout" %}">Sign Out</a>
</div>
{% endblock %}
{% block content %}
<section class="home contents">
	<div class="content">
		<div class="head">
			<div class="title">{% block content_title %}{% endblock %}</div>
			<div>
				{% block action_bar %}
				{% endblock %}
			</div>
		</div>
		<div class="container">
			<div class="wrapper">
		        {% block inner_content %}
		        {% endblock %}
			</div>
		</div>
		<div class="footer"></div>
	</div>

{% endblock %}