{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">

        <title>koala CMS</title>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/styles.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <div id="header-wrapper">
                    <a id="logo" href="/">
                        <img src="{{ STATIC_PREFIX }}img/logo.png">
                    </a>
                {% block header %}
                {% endblock %}
                </div>
            </header>
            <div id="content-wrapper">
                {% block content %}
                {% endblock %}
                <footer>
                    <div id="footer-wrapper">
                        <figure class="oppnet-logo">
                            <figcaption>Koala </figcaption>
                            <img height="40" src="{{ STATIC_PREFIX }}img/logo_on.png">
                            <figcaption style="font-size:10px">Content Manager System</figcaption>
                        </figure>
                    </div>
                </footer>
            </div>
        </div>
        {% block scripts %}
        {% endblock %}
    </body>
</html>