{% extends "base_body.html" %}

{% block content_title %}<a class="selected">Home</a> <a href="/articles">Articles</a> <a href="/jobs">Jobs</a><span><a href="/resources">Logos and Resources</a></span>{% endblock %}

{% block action_bar %}
{% endblock %}


{% block inner_content %}
{% endblock %}