{% extends "base_body.html" %}
{% block content_title %}<a href="/">Home</a> <a href="/articles">Articles</a> <a class="selected">Jobs</a><span><a href="/resources">Logos and Resources</a></span>{% endblock %}

{% block action_bar %}
{% endblock %}


{% block inner_content %}
{% endblock %}