{% extends "base.html" %}
{% block content %}
<section id="login-wrapper">
	<div class="form-container">
		<!--<figure>
			<img src="{{ STATIC_PREFIX }}img/koala.png">
		</figure>-->
	    <h2>Sign In</h2>
		<form class="auth-form" action="/login/" method="post">
			{% csrf_token %}
			<input type="email" name="email" placeholder="email" autofocus {% if username %}value="{{ username }}"{% endif %}>
			<input type="password" name="password" placeholder="password">
			<input type="submit" class="button action-button" value="Sign in"></input>
		</form>
	</div>
</section>
{% endblock %}