{% extends "base_body.html" %}
{% load my_extras %}
{% block content_title %}<a href="/">Articles</a> <span class="selected">{{ article.identifier }}</span>{% endblock %}


{% block inner_content %}
	<div class="article-wrapper">
		<h1>{{article.title}}</h1>
		<h4>{{article.subtitle}}</h4>
		<p>{{article.text}}</p>
		<details>
			<summary style="font-size: 8px">{{article.date}}</summary>
		</details>
	</div>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<section class="resources">
			<input type="file" name="fileselect[]" multiple>
			<section class="target" id="filedrag">
				<p>Drop your resources here (or click to browse)</p>
			</section>
			<div id="files-wrapper">
				<ul id="upload-list"></ul>
				<ul id="resources-list">
					{% for resource in resources %}
					<li><img src="{{ MEDIA_URL }}{{ resource.file }}">{{ resource.title }} <span class="timestamp">{{ resource.date|timesince|mytimesince }} ago</span><button data-resid="{{ resource.id }}" data-panel="actions-panel" class="actionbar-button button dropdown-btn">Actions<span class="dropdown_arrow"></span></button>
					</li>
					{% endfor %}
				</ul>
				<div class="dropdown-panel" id="actions-panel">
					<ul>
						<li>
							<span class="option" id="preview"><span class="icon preview-icon"></span>Preview</span>
						</li>
						<li>
							<span class="option" id="delete"><span class="icon delete-icon"></span>Delete</span>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</form>
{% endblock %}

{% block scripts %}
	<script data-main="{{ STATIC_PREFIX }}js/main" src="{{ STATIC_PREFIX }}js/libs/require/require.js"></script>
{% endblock %}