mybox-shadow()
  box-shadow arguments[0]arguments[1]arguments[2]arguments[3]

mybox-sizing()
  -webkit-box-sizing arguments
  -moz-box-sizing arguments
  box-sizing arguments

myborder-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

mytransition()
  -webkit-transition arguments[0], arguments[1]
  -moz-transition arguments[0], arguments[1]
  -o-transition arguments[0], arguments[1]
  transition arguments[0], arguments[1]

mybackground-vgradient()
  background: arguments[0]; /* Old browsers */
  background: -moz-linear-gradient(top, arguments[0]1%, arguments[1]100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, arguments[0]), color-stop(100%, arguments[1])); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, arguments[0]1%, arguments[1]100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, arguments[0]1%, arguments[1]100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, arguments[0]1%, arguments[1]100%); /* IE10+ */
  background: linear-gradient(to bottom, arguments[0]1%, arguments[1]100%);

/* W3C */

myuserselect()
  -webkit-touch-callout arguments[0]
  -webkit-user-select arguments[0]
  -khtml-user-select arguments[0]
  -moz-user-select arguments[0]
  -ms-user-select arguments[0]
  user-select arguments[0]

*
  margin 0
  padding 0

a
  text-decoration none

a:hover
  text-decoration underline

body
  color #333
  font-family 'Arial', sans-serif
  font-size 14px
  height 100%

footer
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  background-color: #40444f;
  background: -webkit-linear-gradient(top, #40444f, #363a43);
  background: -moz-linear-gradient(top, #40444f, #363a43);
  background: -o-linear-gradient(top, #40444f, #363a43);
  background: -ms-linear-gradient(top, #40444f, #363a43);
  background: linear-gradient(to bottom, #40444f, #363a43);
  text-shadow: -.05rem -.0625rem 0 #202228;

  #footer-wrapper
    margin 0 auto
    position relative
    width 960px

    .oppnet-logo
      margin-top 10px
      position absolute
      text-align right
      right 0

      figcaption
        color #788287
        margin-bottom 5px

header
  background #0f3e62
  height 60px
  mybox-shadow(0 3px 4px rgba(0, 0, 0, 0.2))
  position fixed
  width 100%
  z-index 2

  #header-wrapper
    height 100%
    margin 0 auto
    position relative
    width 960px

    #logo
      border 0
      display inline-block
      margin-top 15px
      vertical-align top

    .nav-options
      height 100%
      line-height 60px
      position absolute
      right 0
      top 0

      a
        border-radius 3px
        color #fff
        text-decoration none
        padding 5px 20px

      a:hover
        background #03596f

html
  background #f1f1f1
  height 100%
  width 100%

img
  border 0

input[type="text"], input[type="password"], input[type="email"]
  background #fff
  border 1px solid #ccc
  color #40444f
  myborder-radius(3px)
  mybox-sizing(border-box)
  padding .5rem .5rem .4rem

li
  list-style none

#wrapper
  height 100%

  #content-wrapper
    min-height 100%
    mybox-sizing(border-box)
    overflow hidden
    padding 60px 0 100px 0
    position relative
    text-align center
    z-index 1

    .contents
      display inline-block
      mybox-sizing(border-box)
      padding 20px 0
      vertical-align top
      width 100%

    .home
      width 100%

      .content
        background-color #fff
        border 1px solid #bbb
        display inline-block
        min-height 50px
        myborder-radius(4px)
        mybox-shadow(0, 1px, 2px, rgba(0, 0, 0, .1))
        text-align left
        vertical-align top
        width 780px

        .action-bar
          display inline-block
          position absolute
          left 5px
          top 40px

        .articles
          display table
          width 100%

          li:first-child
            border-top 1px solid #e2e2e2

          li
            border-bottom 1px solid #e2e2e2
            height 50px
            line-height 50px
            padding-left 20px
            position relative

            img
              vertical-align middle

            span
              vertical-align middle
              color #2793e6
              font-size 14px
              font-weight bold

            li:last-child
              border-bottom 0

          .article-actions
            display inline-block
            position absolute
            right 10px
            vertical-align top

        .head
          border-bottom 1px solid #bbb
          margin-top 8px
          padding 0 20px
          position relative

          .title
            display inline-block
            font-size 12px
            font-weight bold
            height 29px
            line-height 26px
            width 100%

            span
              float right

            a
              color #999

            a, .selected
              display inline-block
              vertical-align top
              margin 0 10px

            a:hover
              color #333
              border-bottom 3px solid #0f3e62
              text-decoration none

            .selected
              color #333
              border-bottom 3px solid #0f3e62

        .resources

          input[type="file"]
            display none

          #filedrag.hover
            border-color #16a764

          #files-wrapper
            margin 15px

            #resources-list, #upload-list

              button
                line-height 30px
                margin-top -1px
                myborder-radius(0px)

              li
                background #f0f0f0
                border 1px solid #ddd
                color #363a43
                font-weight bold
                line-height 30px
                margin-bottom 5px
                padding-left 10px
                position relative

                img
                  max-width 100%
                  border 0
                  padding 10px 10px 10px 0
                  box-sizing border-box

                button
                  height 32px
                  mybox-shadow(0 0 0 0)
                  position absolute
                  right -1px

                .btn-delete, .btn-preview
                  position absolute

                .btn-delete
                  right 0

                .btn-preview
                  background-color #98C3E9
                  border 1px solid #7A9EBD
                  right 37px

                .btn-preview:hover
                  background-color #79B4E9

                .timestamp
                  color #787c83
                  font-style italic
                  font-weight normal
                  margin-left 10px

            .dropdown-panel
              background #fff
              border 1px solid #ccc
              font-size 13px
              margin-top -1px
              mybox-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.2))
              position absolute
              visibility hidden
              white-space nowrap
              z-index 3

              li
                .option
                  color #333
                  cursor pointer
                  display block
                  padding 7px 28px 7px 10px
                  text-decoration none

                .icon
                  margin-right 7px

              li:hover
                background #eee

            .active
              visibility visible

            #upload-list
              .new, .error
                color #fff
                font-size 12px
                font-weight bold
                margin-left 10px
                myborder-radius(4px)
                padding 3px

              .error
                background #d43f3a

              .new
                background #16a764

              .progressbar, .progress
                display inline-block
                myborder-radius(5px)
                vertical-align top

              .progressbar
                background #bbb
                float right
                height 15px
                margin 8px 8px 0 0
                width 200px

                .progress
                  background #16a764
                  height 100%
                  width 0

          .target
            border 2px dashed #888
            cursor pointer
            height 100px
            margin 10px auto
            myborder-radius(10px)
            myuserselect(none)
            mytransition(color .2s ease-out, border-color .2s ease-out)
            width 450px

            p
              color #555
              font-size 18px
              font-weight bold
              margin-top 40px
              text-align center

          .target:hover
            border-color #444

        .container
          width 100%

          .wrapper
            min-height 110px
            width 100%
            margin-top 40px

            #form_logo
              top 0
              left 0
              width 100%
              height 100%
              position fixed
              display none
              background-color rgba(200, 200, 200, 0.8)

              .form_wrapper
                max-width: 400px;
                margin: 140px auto;
                mybox-sizing(border-box)
                myborder-radius(8px)
                background-color #ffffff
                overflow hidden
                padding 10px
                position relative
                box-shadow 0 1px 3px rgba(0, 0, 0, 0.075)

                span
                  line-height 50px

.article-wrapper
  padding 10px

.new-article
  font-size 13px
  padding 10px

  input[type="button"]
    margin-left 1em

  textarea
    width 600px
    height 230px
    resize none

  td
    padding-bottom 15px

  th
    font-weight normal
    padding-right 13px
    padding-top 5px
    text-align right
    vertical-align top

  .errorlist
    color #c00
    list-style-type none
    margin 0
    margin-top 3px
    padding 0

  #id_name
    width 650px

  #id_description
    max-width 650px
    width 650px

.article-list
  border 1px solid #ccc
  border-collapse collapse
  font-size 13px
  width 100%

  a, a:visited
    color #06c

  td
    border-bottom 1px solid #dedede
    padding 10px 7px
    vertical-align top

  th
    background #f4f4f4
    border-bottom 1px solid #ccc
    color #3f3f3f
    padding 6px 7px
    text-align left

  tr:hover
    td
      background #ffc

#login-wrapper
  margin-top 190px
  position relative
  text-align center
  width 100%

  form
    border 0

    input
      margin-bottom 5px
      width 100%

  h2
    color #f8fbfc
    margin-bottom 15px

  input:
  :-webkit-input-placeholder
    font-style italic
    opacity 1
    -ms-filter none
    filter none
    color #a1b7be

  input:
  :-moz-placeholder
    font-style italic
    opacity 1
    -ms-filter none
    filter none
    color #a1b7be

  input:-ms-input-placeholder
    font-style italic
    opacity 1
    -ms-filter none
    filter none
    color #a1b7be

  input:-moz-placeholder
    font-style italic
    opacity 1
    -ms-filter none
    filter none
    color #a1b7be

  .form-container
    background #40444f
    color #fff
    display inline-block
    myborder-radius(2px)
    mybox-sizing(border-box)
    padding 10px 14px
    position relative
    text-align left
    vertical-align top
    width 270px

    figure
      position absolute
      right 8px
      top -130px

    h2
      font-size 23px

.button
  background-color #f8f8f8
  border-radius 3px
  border 1px solid #d3d3d3
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.075)
  color #333
  cursor pointer
  line-height 2.5
  font-size 11px
  font-weight bold
  padding 0 10px

.button:hover
  border-color #c6c6c6
  background #f0f0f0
  box-shadow 0 1px 0 rgba(0, 0, 0, 0.10)

.btn-action
  color #fff
  background-color #428bca
  border-color #357ebd

.btn-action:hover
  background-color #3276b1
  border-color #285e8e

.btn-danger
  color #fff
  background-color #d9534f
  border-color #d43f3a

.btn-danger:hover
  background-color #d2322d
  border-color #ac2925

.btn-success
  color #fff
  background-color #5cb85c
  border-color #4cae4c

.btn-success:hover
  background-color #47a447
  border-color #398439

.action-button, .action-button:hover
  background-color #60b044
  background-image -moz-linear-gradient(#8add6d, #60b044)
  background-image -webkit-linear-gradient(#8add6d, #60b044)
  background-image linear-gradient(#8add6d, #60b044)
  background-repeat repeat-x
  border-color #5ca941
  color #fff
  text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)

.actionbar-button
  background #f8f8f8
  border-color #d3d3d3
  color #333
  font-size 11px
  height 28px
  margin-top -4px
  mybox-shadow(0, 1px, 0, rgba(0, 0, 0, 0.05))

.delete-icon
  background url(../img/delete.png) no-repeat 0 0

.download-icon
  background url(../img/download.png) no-repeat 0 0
  display inline-block
  height 13px
  margin-top -3px
  margin-right 4px
  opacity 0.7
  vertical-align middle
  width 13px

.dropdown_arrow
  background url(../img/arrow_down.png) no-repeat 0 0
  display inline-block
  height 4px
  margin-left 4px
  pointer-events none
  vertical-align middle
  width 7px

.icon
  display inline-block
  height 13px
  width 13px

.preview-icon
  background url(../img/preview.png) no-repeat 0 0
